<!DOCTYPE html>

<html>

<head>

    <title>Ticket Management</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href=https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href=https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css>
    

    <link rel="stylesheet" href="/stuff/styles.css">

</head>

<body>

 

<!-- Vertical navbar -->

<div class="vertical-nav bg-white" id="sidebar">

  <div class="py-4 px-3 mb-4 bg-light">

    <div class="media d-flex align-items-center">

      <img loading="lazy" src={{.picture}} alt="..." width="80" height="80" class="mr-3 rounded-circle img-thumbnail shadow-sm">

      <div class="media-body">

        <h4 style="font-size:12px ;" class="m-0">{{.email}}</h4>

        <p class="font-weight-normal text-muted mb-0">User</p>

      </div>

    </div>

  </div>

 

  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Dashboard</p>

 

  <ul class="nav flex-column bg-white mb-0">

    <li class="nav-item">

      <a href="Login.html" class="nav-link text-dark bg-light">

                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>

                home

            </a>

    </li>

    <li class="nav-item">

      <a href="#" onclick="tickets()" class="nav-link text-dark">

                <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>

                My Ticket

            </a>

    </li>

    <li class="nav-item">

      <a href="/Raiserequest" class="nav-link text-dark">

                <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>

                Raise Request

            </a>

    </li>

    <li class="nav-item">
     

      <a href="/logout"  class="nav-link text-dark">

                <i class="fa fa-lock-o mr-3 text-primary fa-fw"></i>

                Logout

            </a>

    </li>

  </ul>

 

</div>


<div class="page-content p-5" id="content">

  <!-- Toggle button -->

 

  <nav class="navbar navbar-light ">

    <div class="container-fluid">

        <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold"></small></button>

      <form class="d-flex" onsubmit="getTicket('0'); return false;">
      
        <input class="form-control me-2" type="search" id="searching" placeholder="TicketID" aria-label="Search" >

        <button class="btn btn-outline-light" id="clear" type="submit" >Search</button>

      </form>

    </div>

  </nav>
      

        <!-- Demo content -->

 
  <h2 class="display-4 text-white">Ticket Management</h2>

  <p class="lead text-white mb-0"></p> 

  <div class="separator"></div>

    <div  >
      <table class="table table-hover" id="tickettable" >
        <thead>
          <tbody>
          <tr>
            <th scope="col" id="th1">&nbsp;</th>
            <th scope="col" id="th2">&nbsp;</th>
            <th scope="col" id="th3">&nbsp;</th>
            <th scope="col" id="th4">&nbsp;</th>
            
          </tr>
          </tbody>
        </thead>
      <div id="list">

      </div>
      <div id="ticket">

      </div>
     
      </table>
        
      <div id="message">

      </div>
 

    </div>

   

 

      

      

    

  </div>

 

</div>

 

  

<!-- End demo content -->

 

<script src=https://code.jquery.com/jquery-3.3.1.slim.min.js integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src=https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

<script src=https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src="/stuff/routes.js"></script>
<script>
  function tickets(){
    $( "td" ).remove();
    $( "list" ).remove();
   
    var id=document.querySelector("#list")
    var table =document.getElementById("tickettable")
    var i=0
    document.getElementById('th1').innerHTML="Sl.No"
    document.getElementById('th2').innerHTML="Ticket_ID"
    document.getElementById('th3').innerHTML="Issue Raised"
    document.getElementById('th4').innerHTML="Status"
  fetch("/myticket",{method:"GET"})
  .then(response=>response.json())
   .then(list=>{
     if(list!=null){
       if(Array.isArray(list)){
         
     list.forEach(element => {
     document.getElementById('ticket').innerHTML=""
    var newDiv =document.createElement('div')
     newDiv.className='rows'
     i=i+1
     var row =table.insertRow(i);
     var cel1=row.insertCell(0);
     cel1.innerHTML="<p style="+"'font-weight:25px'"+">"+i+"</p>"
     var cel2=row.insertCell(1);
     cel2.innerHTML="<a href="+"'#'"+"onclick="+"'getTicket("+element["id"]+")'"+" style='color:black; font-weight:20px;'"+">"+element["id"]+"</a>"
     var cel3=row.insertCell(2);
     cel3.innerHTML="<p style="+"'font-weight:25px'"+">"+element["message"]+"</p>"
     var cel4=row.insertCell(3)
     cel4.innerHTML="<p style="+"'font-weight:25px'"+">"+element["status"]+"</p>"
     id.appendChild(newDiv)
     
   });
  } else {
    console.log(list);
    document.getElementById('th1').innerHTML=""
    document.getElementById('th2').innerHTML=""
    document.getElementById('th3').innerHTML=""
    document.getElementById('th4').innerHTML=""
    document.getElementById('message').innerHTML="<h3>"+list.message+"by clicking <a href='http://localhost:8080'>here</a></h3>"
  }  
  }else{
    document.getElementById('th1').innerHTML=""
    document.getElementById('th2').innerHTML=""
    document.getElementById('th3').innerHTML=""
    document.getElementById('th4').innerHTML=""
     document.getElementById('message').innerHTML="<h3>No Tickets Available</h3>"
   }})}
   function getTicket(x){
    var div = document.getElementById('list');
    $( "td" ).remove();
    if (x=='0'){
     var id=document.getElementById("searching").value
      }else{
        var id= x;console.log(id)}
        var tkt= document.getElementById('ticket')
    document.getElementById('th1').innerHTML=""
    document.getElementById('th2').innerHTML=""
    document.getElementById('th3').innerHTML=""
    document.getElementById('th4').innerHTML=""
     fetch("/getticket?id="+id,{method:"GET"})
     .then(response=>response.json())
     .then(data=>{ console.log(data); tkt.innerHTML="<h3>"+"TicketId :<span style='font-weight:normal;'>"+data["id"]+"</span></h3>"+"<br><h3>"+"Issue :<span style='font-weight:normal;'>"+data["message"]+"</span></h3><br><h3>"+"Email:<span style='font-weight:normal;'>"+data["email"]+"</h3><br><h3>"+"Status:<span style='font-weight:normal;'>"+data["status"]+"</h3><br><h3>"+"Response:<span style='font-weight:normal;'>"+data["response"]+"</h3><br><h3>"+"Generation Time:<span style='font-weight:normal;'>"+data["time"]+"</h3><br><h3>"+"Admin Name:<span style='font-weight:normal;'>"+data["admincontact"]+"</h3>"
     if(data["status"]=="Resolved"){

      tkt.innerHTML +="<form action='/reopen' method='post'><input type='hidden' name='id' value="+ data["id"]+" ><br> <input type='submit' value ='Reopen Ticket'  class='btn btn-primary'></form>"
      tkt.innerHTML +="<form action='/close' method='post'><input type='hidden' name='id' value="+ data["id"]+" ><br> <input type='submit' value='Close Ticket' class='btn btn-primary'></form>"
    }else if(data["status"]!="Closed"){
      tkt.innerHTML +=" <form action='/close' method='post' ><input type='hidden' name='id' value="+ data["id"]+" ><br> <input type='submit' value='Close Ticket' class='btn btn-primary'></form>"
    }
     })
     
   }
   function logout()
   {
     fetch("/logout")
   document.location.href="https://www.google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue=http://localhost:8080/logout"
   }
     </script>

</body>

</html>